div {
	font-family: Arial, sans-serif;
}

.posts-section {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.posts-section h2 {
	color: #333;
	font-size: 24px;
	display: inline-block;
	font-weight: 900;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	width: 95%;
	max-width: 1200px;
}
.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 95%;
}

.header-logout-wrapper {
	display: flex;
	align-items: center;
}

.header-user {
	color: #666;
	margin: 0 10px 0 0;
}

.logout-button {
	height: 50%;
	padding: 5px 10px;
	background-color: #5dbea3;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.logout-button:hover {
	background-color: #33b249;
}

.post {
	background-color: #f9f9f9;
	border-left: 5px solid #007bff;
	margin: 10px 0;
	padding: 10px 15px;
	border-radius: 5px;
}

form {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	max-width: 500px;
	margin: auto;
	width: 95%;
}

form h2 {
	color: #333;
	font-size: 24px;
	margin-bottom: 20px;
}

form label {
	font-weight: bold;
	margin-top: 10px;
}

form input,
form textarea {
	width: 100%;
	padding: 8px;
	margin: 8px 0 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

form input[type="submit"] {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

form input[type="submit"]:hover {
	background-color: #0056b3;
}
